

## Visual Studio Code
#!.vscode/settings.json
.history
.vscode/*
*.code-workspace

##
.netrwhist
*.backup
*.before
*.classpath
*.dmb
*.DS_Store
*.factorypath
*.git
*.hg
*.int
*.lk
*.lnk
*.log
*.project
*.rsc
*.settings
*.svn
*/CVS
*~
build_log.txt
tags
Thumbs.db

scripts/future/???.????_byond*.zip
scripts/future/???.????_byond*.exe
scripts/future/byond
